{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="timeline">
    <div class="input-group">
      <label for="join-email">이메일</label>
      <input id="join-email" type="email" name="email" value="{{user.email}}" readonly></div>
    <div class="input-group">
      <label for="join-nick">닉네임</label>
      <input id="join-nick" type="text" name="nick" value="{{user.nick}}"></div>
    <button id="join-btn" type="button" class="btn">수정하기</button>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.getElementById("join-btn").addEventListener('click', function() {
      const myId = document.querySelector('#my-id');
      const formData = new FormData();
      formData.append('nick', document.getElementById("join-nick").value);
      if (myId) {
        if (confirm('닉네임을 수정하시겠습니까?')) {
          axios.patch('/user/update', formData)
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
        }
      }
    });
  </script>
{% endblock %}